body {
  background-color: white;
}
hr {
  border-top: 6px dotted red;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */

@media (max-width: 576px) {
  .navbar {
    background-color: black !important;
  }
}

.navbar-toggler {
  background: white;
}

.temp {
  min-height: 100vh;
}

.navbar-custom {
  color: #ffffff;
  /* background-color: black; */
}
.navbar > h3 {
  color: white;
}

.navbar img {
  margin-top: 5px;
}

li .active,
.active {
  background-color: white;
}

nav li {
  border-radius: 10%;
  text-align: center;
}
/* Navbar ends */

/* Home starts */
#home {
  max-width: 100%;
  min-height: 100vh;
  color: white;
  margin-top: 30px;
  font-size: 40px;
}

.home_title {
  max-width: 100%;
  padding-top: 10%;
  font-size: 70px;
  color: white;
}
.home_topic {
  max-width: 100%;
  font-size: 60px;
  color: white;
}
.small_span {
  max-width: 100%;
  font-size: 20px;
}
/* Home ends */

/* About starts */
#about {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Amaranth", sans-serif;
}
/* About ends */

/* Gallery starts */
#gallery .section-title,
#about .section-title,
#speakers .section-title,
#schedule .section-title,
#register .section-title,
#contact .section-title {
  color: #24b8ff;
}
/* Gallery ends */

/* Speakers Start */
#speakers .card {
  margin: 15px;
}
/* Speakers end */

/* schedule start */
#schedule {
  padding-top: 2%;
  padding-bottom: 5%;
}

#schedule .tab-content h5 {
  margin-top: 2%;
}
.tab-pane {
  margin-left: 1em;
}

.schedule-tabs li {
  margin: 10px;
}
/* schedule end */

/* register start */
#register {
  background-image: url(../img/reg.png);
  background-size: cover;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
}

.registration-card {
  border: 1px solid black;
  border-radius: 1%;
  padding: 30px;
  background-color: white;
  margin: 25px;
  margin-bottom: 40px;
}

.registration-card hr {
  border-top: 2px dashed #24b8ff;
}

.registeration-title {
  color: #24b8ff;
}
/* Register end */

/* Contact */
#contact {
  padding: 20px;
  margin-bottom: 50px;
}
/* end of contact */
